.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }
    button{
        margin: .6em;
   }
   label{
        margin: .2em;
}
table {
    width: 300px;
}